<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.17.1" targetFramework="net461" />
  <package id="Autoupdater.NET.Official" version="1.7.6" targetFramework="net461" />
  <package id="ChromeDriverUpdater" version="2.0.2" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.4.2" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Http.Polly" version="6.0.14" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1823.32" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.SystemEvents" version="6.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Polly" version="7.2.2" targetFramework="net461" />
  <package id="Polly.Extensions.Http" version="3.0.0" targetFramework="net461" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="116.0.5845.9600" targetFramework="net461" />
  <package id="SharpZipLib" version="1.4.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Odbc" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.OleDb" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.x64" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Data.SQLite.x86" version="1.0.118.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="6.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.PerformanceCounter" version="6.0.0" targetFramework="net461" />
  <package id="System.DirectoryServices" version="6.0.0" targetFramework="net461" />
  <package id="System.DirectoryServices.AccountManagement" version="6.0.0" targetFramework="net461" />
  <package id="System.DirectoryServices.Protocols" version="6.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net461" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net461" />
  <package id="System.Management" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Context" version="6.0.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.ServiceModel.Duplex" version="4.9.0" targetFramework="net461" />
  <package id="System.ServiceModel.Http" version="4.9.0" targetFramework="net461" />
  <package id="System.ServiceModel.NetTcp" version="4.9.0" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.9.0" targetFramework="net461" />
  <package id="System.ServiceModel.Security" version="4.9.0" targetFramework="net461" />
  <package id="System.ServiceModel.Syndication" version="6.0.0" targetFramework="net461" />
  <package id="System.ServiceProcess.ServiceController" version="6.0.0" targetFramework="net461" />
  <package id="System.Speech" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.AccessControl" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Web.Services.Description" version="4.9.0" targetFramework="net461" />
  <package id="WebDriverManager" version="2.16.2" targetFramework="net461" />
  <package id="WhatsappBusiness.CloudApi" version="1.0.15" targetFramework="net461" />
</packages>